@(query: String)

@main("Tweeter Streaming") {

    <h2>Live tweets</h2>
    <h3> <span id="message"></span> </h3>
    <div id="vizGraph"></div>
    <h4> <span id="tweet"></span> </h4>

    <script type="text/javascript" charset="utf-8">
        if (@query.isEmpty)
            d3.select("#message").html("The garden hose is open! Sampling english tweets")
        else
            d3.select("#message").html("Searching for Tweets containing the terms: @query")

        // This occurs at start and only once
        const tick = SenitmentGraph()
        // Meaning, we can change the query sting internally via a button..I think...
        let feed= ActivateEventSource("@routes.Application.timeline(query)", tick)

        @*let feed = new EventSource("@routes.Application.timeline(query)");*@
        @*feed.addEventListener('message', HandleStream(tick), false);*@
        @*feed.removeEventListener('message',HandleStream(tick), false);*@


        function ActivateEventSource(queryRoute, callback) {
            console.log("we called", queryRoute)
            let feed = new EventSource(queryRoute);
            feed.addEventListener('message', HandleStream(callback), false);
            return feed
        }

    </script>
}
